.mwBox {
    overflow-x: hidden;

}

.mwBox_Inside {
    display: flex;
    gap: 1rem;
}

.mwSingle {
    min-height: 450px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.mwProImgBx {
    width: 100%;
    flex-grow: 1;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    overflow: hidden;
    object-fit: cover;
    position: relative;
}

.mwProImg {
    position: absolute;
    width: inherit;
    height: inherit;
    display: block;
}

.btnBx {
    /* flex-basis: ; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* cosmetics button component style */
.buyBtn {
    /* background-color: black; */
    font-family: var(--trendZFont);
    font-size: .75rem;
    text-align: center;
    color: black;
    text-decoration: none;
    font-weight: 500;
    border: var(--trendZLightBlackClr) 2px solid;
    padding: .5rem 1rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: 400ms ease;
    -webkit-transition: 400ms ease;
    -moz-transition: 400ms ease;
    -ms-transition: 400ms ease;
    -o-transition: 400ms ease;
}

.buyBtn:hover {
    border: 2px solid black;
    background-color: black;
    color: white;
}

.mwPro {
    color: white;
    background-color: var(--trendZBlackClr);
    width: fit-content;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: .3rem .75rem;
    display: inline-block;
    margin-block: .5rem;
    position: absolute;
    top: .5rem;
    right: .5rem;
}

.mwProCon {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: .25rem;
    margin-bottom: .5rem;
    margin-top: .5rem;
    text-align: center;
}

.mwProCon .newProName {
    flex-grow: 1;
    font-size: .8rem;
    line-height: 1.35;
    color: black;
}


.mwProCon .newProPrice {
    color: var(--trendZLightBlackClr);
    font-size: 1.75rem;
    flex-basis: content;
}