.filterWrapper {
    width: 100%;
}

.filterWrapper form {
    width: 100%;
    display: flex;
    gap: 1rem;
}

.filterWrapper input {
    flex-grow: 1;
    border: none;
    font-family: var(--job-app-Font-family);
    padding-inline: 1rem;
}

.filterWrapper input:focus {
    border: none;
    outline: 0;
}

.searchBtn {
    flex-basis: 15%;
    background-color: white;
    padding: .5rem 1.2rem;
    border: none;
    font-family: var(--job-app-Font-family);
    font-size: var(--Font-size);
    font-weight: var(--Weights-bold);
    color: var(--Desaturated-Dark-Cyan);
    cursor: pointer;
    transition: 400ms ease-in-out;
    -webkit-transition: 400ms ease;
    -moz-transition: 400ms ease;
    -ms-transition: 400ms ease;
    -o-transition: 400ms ease;
}

.searchBtn:hover {
    background-color: white;
    color: var(--Dark-Grayish-Cyan);
}

.searchResults {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    background-color: white;
    padding: .5rem 1rem;
    box-shadow: 0px 0px 5px hsl(180, 29%, 50%);
    border-radius: .25rem;
    -webkit-border-radius: .25rem;
    -moz-border-radius: .25rem;
    -ms-border-radius: .25rem;
    -o-border-radius: .25rem;
}

.searchList {
    display: flex;
    align-items: center;
    gap: 1rem;
    
}

.deleteBtn {
    background-color: var(--Desaturated-Dark-Cyan);
    padding: .2rem .5rem;
    color: white;
    border: none;
    margin-left: .5rem;
    cursor: pointer;
}

.deleteBtn:hover {
    background-color: var(--Very-Dark-Grayish-Cyan);
}

.searchItem {
    padding-left: .5rem;
    background-color: var(--Light-Grayish-Cyan-Filter-Tablets);
    color: var(--Desaturated-Dark-Cyan);
    font-weight: var(--Weights-bold);
    border-radius: .2rem;
    -webkit-border-radius: .2rem;
    -moz-border-radius: .2rem;
    -ms-border-radius: .2rem;
    -o-border-radius: .2rem;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.clearBtn {
    background-color: transparent;
    color: var(--Desaturated-Dark-Cyan);
    font-weight: var(--Weights-bold);
    font-size: 1rem;
    border: none;
    font-family: var(--job-app-Font-family);
    cursor: pointer;
    transition: 400ms ease-in-out;
    -webkit-transition: 400ms;
    -moz-transition: 400ms;
    -ms-transition: 400ms;
    -o-transition: 400ms;
}

.clearBtn:hover {
    color: var(--Very-Dark-Grayish-Cyan);
    border-bottom: 2px solid var(--Desaturated-Dark-Cyan);
}

.error {
    color: red;
    font-size: 0.8rem;
    font-weight: var(--Weights-med);
    margin-top: 0.5rem;
}