.extListBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.fiterBtnsBox {
    display: flex;
    align-items: center;
    gap: 5px;
}

.extListBox p {
    font-weight: var(--FontWeight700);
    font-size: 1.2rem;
}

.filterExt {
    border: 1px solid transparent;
    display: grid;
    place-items: center;
    padding: 1px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    transition: 200ms ease-in-out;
    -webkit-transition: 200ms ease-in-out;
    -moz-transition: 200ms ease-in-out;
    -ms-transition: 200ms ease-in-out;
    -o-transition: 200ms ease-in-out;
}

.filterExt:hover {
    border: 1px solid var(--Red-500);
}

.filterExt > button {
    box-sizing: border-box;
    background-color: var(--Neutral-600);
    font-family: var(--extensions-font-family);
    color: var(--Neutral-0);
    border: none;
    padding: .5rem 1rem;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    cursor: pointer;
    transition: 200ms ease-in-out;
    -webkit-transition: 200ms ease-in-out;
    -moz-transition: 200ms ease-in-out;
    -ms-transition: 200ms ease-in-out;
    -o-transition: 200ms ease-in-out;
}

.filterExt > button:hover {
    background-color: var(--Red-500);
    color: var(--Neutral-800);
}