.delModal {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
    inset: 0;
    display: grid;
    place-items: center;
    z-index: 10;
}

.insideModal {
    width: clamp(300px, 25vw, 300px);
    background-color: white;
    text-align: left;
    padding: 1.5rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.modalContent p {
    margin-block: .7rem;
    color: var(--Comment-Grey-800)
}

.modalBtnBx {
    display: flex;
    gap: .5rem;
}

.modalBtnBx button {
    padding: .7rem 1rem;
    font-family: var(--Comment-Font-Family);
    border-radius: 8px;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border: none;
    color: white;
    cursor: pointer;
}

.modalCancel {
    background-color: var(--Comment-Grey-800);
}
.modalCancel:hover {
    background-color: var(--Comment-Grey-500);
}
.modalDelete {
    background-color: var(--Comment-Pink-400);
}
.modalDelete:hover {
    background-color: hsl(358, 46%, 67%);
}