.flex {
    display: flex;
    align-items: center;
}

.commentBx {
    gap: 1rem;
    background-color: var(--Comment-White);
    padding: 1.5rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.commentInside {
    width: 100%;
}

.pro {
    justify-content: space-between;
}

.commentItemBx {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.itemContent {
    margin-top: .5rem; 
}

@media screen and (width < 800px) {
    .commentBx {
        flex-direction: column-reverse;
        justify-content: flex-start;
        position: relative;
    }

    .counterBx {
        width: 100%;
    }
}