.shopHeader {
    min-height: 400px;
    background-image: url('/images/cosmeticsMedia/shop-hero.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* display: flex;
    justify-content: center;
    align-items: end; */
}

.shopHeader_Box {
    /* position: relative; */
    /* overflow: hidden; */
    border: 2px solid red;
}

.shopHeader_text {
    color: black;
    position: absolute;
    font-size: 5rem;
    /* color: black;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%); */
}