@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
    /* border: 1px solid red; */
}

:root {
    --font-family: "Plus Jakarta Sans", sans-serif;
    --White: hsl(0, 0%, 100%);
    --Slate-100: hsl(202, 86%, 94%);
    --Slate-300: hsl(203, 41%, 72%);
    --Slate-500: hsl(200, 26%, 54%);
    --Slate-700: hsl(200, 24%, 40%);
    --Slate-900: hsl(202, 55%, 16%);
    --Lime: hsl(61, 70%, 52%);
    --Red: hsl(4, 69%, 50%);
    --Font-size-paragraph: 16px;
    --Weights5: 500;
    --Weights7: 700;
}

/* Job List Styling */
:root {
    --Light-Grayish-Cyan-Background: hsl(180, 52%, 96%);
    --Light-Grayish-Cyan-Filter-Tablets: hsl(180, 31%, 95%);
    --Dark-Grayish-Cyan: hsl(180, 8%, 52%);
    --Very-Dark-Grayish-Cyan: hsl(180, 14%, 20%);
    --Desaturated-Dark-Cyan: hsl(180, 29%, 50%);
    --Font-size: 15px;
    --Weights-med: 500;
    --Weights-bold: 700;
    --job-app-Font-family: "Plus Jakarta Sans", sans-serif;
}

/* space */
:root {
    --space-heading-font-family: "Bellefair", sans-serif;
    --space-paragraph-font-family: "Barlow Condensed", sans-serif;
    --space-font-size: clamp(1rem, 1.2vw, 20px);
    --space-font-weight-bold: 700;
    --space-font-weight-reg: 400;
    --space-font-header: clamp(1.5rem, 7vw, 6rem);
    --space-subheading-font-size: clamp(1.5rem, 2vw, 2.5rem);
    --space-dark-blue-clr: #000814;
    --ash-clr: #adb5bd;
    --space-white-clr: #ffffff;
    --darkest-ash-clr: #495057;
}

/* products list */
:root {
    --Product-list-Red: hsl(14, 86%, 42%);
    --Product-list-Green: hsl(159, 69%, 38%);
    --Product-list-Rose-50: hsl(20, 50%, 98%);
    --Product-list-Rose-100: hsl(13, 31%, 94%);
    --Product-list-Rose-300: hsl(14, 25%, 72%);
    --Product-list-Rose-400: hsl(7, 20%, 60%);
    --Product-list-Rose-500: hsl(12, 20%, 44%);
    --Product-list-Rose-900: hsl(14, 65%, 9%);
    --Product-list-Font-size-product-names: 16px;
    --Product-list-Font-family:  "Red Hat Text", sans-serif;
    --Product-list-Weight400: 400;
    --Product-list-Weight600: 600;
    --Product-list-Weight700: 700
}



body {
    font-family: var(--font-family);
}

.homeStyle, .mortgageAppStyle {
    height: 100vh;
}

.heading {
    color: var(--Slate-900);
    font-size: clamp(1.5rem, 4vw, 2.5rem);
}

.sub-head {
    color: var(--Slate-300);
    font-weight: 500;
    margin-top: .5rem;
}

.btn-box {
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
}

.btn {
    color: var(--White);
    background-color: var(--Slate-900);
    font-weight: var(--Weights7);
    font-family: var(--font-family);
    border: none;
    padding: .5rem 1.2rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--Slate-700);
}

/* space page design */

.wrap-container {
    overflow: hidden;
}

.subheading {
    font-family: var(--space-paragraph-font-family);
    font-size: var(--space-subheading-font-size);
    font-weight: var(--space-font-weight-reg);
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.5;
    color: var(--ash-clr)
}

.home-heading {
    font-family: var(--space-heading-font-family);
    font-size: clamp(120px, 9vw, 1200px);
    font-weight: var(--space-font-weight-reg);
    color: var(--space-white-clr);
    text-transform: uppercase;
    line-height: 1.5;
}

.sliding-header {
    font-family: var(--space-heading-font-family);
    font-size: clamp(80px, 5vw, 1200px);
    font-weight: var(--space-font-weight-reg);
    color: var(--space-white-clr);
    text-transform: uppercase;
    line-height: 1.5;
}

.paragraph,
.sliding-paragragh {
    font-family: var(--space-paragraph-font-family);
    font-size: var(--space-font-size);
    font-weight: var(--space-font-weight-reg);
    color: var(--ash-clr);
    line-height: 1.5;
}

.sliding-paragraph {
    width: 70%;
}

.scroll {
    overflow: hidden;
}

@media screen and (width < 900px) {
    .subheading {
        margin-inline: auto;
        text-align: center;
        width: 100%;
    }
    .paragraph {
        width: 80%;
        margin: auto;
    }
}

@media screen and (width < 400px) {
    .home-heading {
        font-size: 80px;
    }

    .sliding-header {
        font-size: 55px;
        line-height: 1.3;
    }
}

