.formBox {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    border: 1px solid red;
}

@media screen and (1029px > width) {
    .formBox {
        /*position: absolute;
        */border: 1px solid red;
        background-color: hsl(0, 0%, 100%);
        padding-block: 1rem;
        width: 90%;
        margin-inline: auto;
        z-index: 1;
        transform: translateY(-200px);
        -webkit-transform: translateY(-200px);
        -moz-transform: translateY(-200px);
        -ms-transform: translateY(-200px);
        -o-transform: translateY(-200px);
}
    
}