.flex {
    display: flex;
    align-items: center;
}

.commentBx {
    gap: 1rem;
}

.pro {
    justify-content: space-between;
}

.commentItemBx {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.itemContent {
    margin-top: 1rem;
}

.userPro {
    gap: .5rem;
}

.name {
    font-weight: 700;
    color: var(--Comment-Grey-800);
}

.createdAt {
    color: var(--Comment-Grey-500);
    font-weight: 600;
}

.itemContent {
    color: var(--Comment-Grey-500);
    font-weight: 600;
    width: 97%;
    line-height: 1.5;
}

.replyBtn {
    background-color: transparent;
    border: none;
}

.replyBtn {
    cursor: pointer;
    color: var(--Comment-Purple-600);
    font-family: var(--Comment-Font-Family);
    font-weight: 600;
    font-size: .8rem;
    display: flex;
    align-items: center;
    gap: 5px;
}

.replyBtn:hover {
    opacity: .7;
}

@media screen and (width < 800px) {
    .replyBtn {
        position: absolute;
        bottom: 2.1rem;
        right: 1.5rem;
    }

    .itemContent {
        width: 100%;
    }

    .createdAt {
        font-size: 12px;
    }
}

